# Ignorar todo el contenido de los volúmenes de MySQL
Database/mysql-data/
Database/mysql-data/**

# Pero mantener archivos SQL de estructura o datos
!Database/*.sql

# Archivos temporales o binarios que genera MySQL
*.err
*.pid
*.sock
*.ibd
*.frm
*.MYI
*.MYD
*.ib_logfile*
*.log
*.cnf


# Node modules
**node_modules/
**/dist/
**/build/

# Angular specific
Angular/AppInventarios/.angular/
Angular/AppInventarios/.angular-cache/
Angular/AppInventarios/.output/

# Environment files
.env

# Logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
**/.dockerignore

# Others
*.swp
*.swo
