<div class="modal-backdrop" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">

    <div class="modal-header">
  <h2>Registrar Departamento</h2>
  <button class="close-btn" (click)="closeModal()">×</button>
</div>

    <div class="form-container">
      <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          
          <!-- Columna Izquierda -->
          <div class="form-column">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" id="nombre" formControlName="nombre" maxlength="25" />
            </div>
            
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <textarea id="descripcion" formControlName="descripcion" rows="4" maxlength="120"></textarea>
            </div>

          </div>

          <!-- Columna Derecha -->
          <div class="form-column">
            <div class="form-group">
              <label for="lider">Líder de departamento</label>
              <input type="text" id="lider" formControlName="lider" maxlength="60" />
            </div>
          </div>
        </div>

        <!-- Botones en la parte inferior derecha -->
        <div class="form-buttons">
          <button type="button" class="btn-yellow" (click)="closeModal()">Cancelar</button>
          <button type="submit" class="btn-green">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
