.construction-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.construction-container img {
  width: 30%;
  height: auto;
}

.construction-container p {
  font-size: 2.5rem;
  font-weight: bold;
  color: #292929;
}

.boton-agregar {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 12px 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
  transition: transform 0.2s ease;
  font-size: 20px;
}

.boton-agregar:hover {
  transform: scale(1.15);
}
