<div class="container">
  <h1>Home</h1>
  <p>Navigation components homepage that adapts to more or fewer views</p>

  <div class="grid">
    <button class="card" routerLink="/building">
      <img src="" alt="Equipos" />
      <span>Equipos</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="gift/sup.gif" alt="Consumibles" />
      <span>Consumibles</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="gift/form.gif" alt="Formatos" />
      <span>Formatos</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="gift/reporte.gif" alt="Pisos" />
      <span>Reportes</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="icons/area.png" alt="Áreas" />
      <span>Áreas</span>
    </button>

    <button class="card" routerLink="/departments">
      <img src="gift/departments.gif" alt="Departamentos" />
      <span>Departamentos</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="gift/user.gif" alt="Usuarios" />
      <span>Usuarios</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="gift/" alt="Historial" />
      <span>Historial</span>
    </button>
  </div>
</div>
