<div class="container">
  <h1>Home</h1>
  <p>Navigation components homepage that adapts to more or fewer views</p>

  <div class="grid">
    <button class="card" routerLink="/building">
      <img src="icons/pc.png" alt="Equipos" />
      <span>Equipos</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="icons/usb.png" alt="Consumibles" />
      <span>Consumibles</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="icons/list.png" alt="Formatos" />
      <span>Formatos</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="icons/floor.png" alt="Pisos" />
      <span>Pisos</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="icons/area.png" alt="Áreas" />
      <span>Áreas</span>
    </button>

    <button class="card" routerLink="/departments">
      <img src="icons/department.png" alt="Departamentos" />
      <span>Departamentos</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="icons/user.png" alt="Usuarios" />
      <span>Usuarios</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="icons/hist.png" alt="Historial" />
      <span>Historial</span>
    </button>
  </div>
</div>
