<div class="container">
  <h1>Home</h1>
  <p>Navigation components homepage that adapts to more or fewer views</p>

  <div class="grid">
    <button class="card" routerLink="/building">
      <img src="gif/equip.gif" alt="Equipos" />
      <span>Equipos</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="gif/sup.gif" alt="Consumibles" />
      <span>Consumibles</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="gif/form.gif" alt="Formatos" />
      <span>Formatos</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="gif/reports.gif" alt="Reportes" />
      <span>Reportes</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="gif/areas.gif" alt="Áreas" />
      <span>Pisos y Areas</span>
    </button>

    <button class="card" routerLink="/departments">
      <img src="gif/department.gif" alt="Departamentos" />
      <span>Departamentos</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="gif/users.gif" alt="Usuarios" />
      <span>Usuarios</span>
    </button>

    <button class="card" routerLink="/building">
      <img src="gif/history.gif" alt="Historial" />
      <span>Historial</span>
    </button>
  </div>
</div>
