<div class="sidebar-wrapper">
  <div class="sidebar-container" [class.sidebar-collapsed]="!sidebarVisible()">
    <!-- 
    <button class="menu-toggle" (click)="toggleSidebar()">
      {{ sidebarVisible() ? '❮' : '❯' }}
    </button>
    -->
    <table class="nav-table">
      <tr>
        <td>
          <button class="nav-btn" routerLink="/building" routerLinkActive="active">
            <img src="icons/pc.png" class="icon" />
            <span class="text-label">Equipos</span>
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <button class="nav-btn" routerLink="/building" routerLinkActive="active">
            <img src="icons/usb.png" class="icon" />
            <span class="text-label">Consumibles</span>
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <button class="nav-btn" routerLink="/building" routerLinkActive="active">
            <img src="icons/list.png" class="icon" />
            <span class="text-label">Formatos</span>
          </button>
        </td>
      </tr>

      <tr><td><div class="line"></div></td></tr>

      <tr>
        <td>
          <button class="nav-btn" routerLink="/building" routerLinkActive="active">
            <img src="icons/floor.png" class="icon" />
            <span class="text-label">Pisos</span>
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <button class="nav-btn" routerLink="/building" routerLinkActive="active">
            <img src="icons/area.png" class="icon" />
            <span class="text-label">Áreas</span>
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <button class="nav-btn" routerLink="/departments" routerLinkActive="active">
            <img src="icons/department.png" class="icon" />
            <span class="text-label">Departamentos</span>
          </button>
        </td>
      </tr>

      <tr><td><div class="line"></div></td></tr>

      <tr>
        <td>
          <button class="nav-btn" routerLink="/usuarios" routerLinkActive="active">
            <img src="icons/user.png" class="icon" />
            <span class="text-label">Usuarios</span>
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <button class="nav-btn" routerLink="/building" routerLinkActive="active">
            <img src="icons/hist.png" class="icon" />
            <span class="text-label">Historial</span>
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <button class="nav-btn" routerLink="/settings" routerLinkActive="active">
            <img src="icons/settings.png" class="icon" />
            <span class="text-label">Configuracion</span>
          </button>
        </td>
      </tr>

    </table>

  </div>
</div>
