.sidebar-container {
  position: fixed;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: #bdbdbd;
  display: flex;
  flex-direction: column;
  z-index: 998;
  align-items: center;
}

.nav-table {
  margin: 10vh auto 0 auto;
  width: 80%;
  height: 55%;
}

.nav-table td {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.icon {
  height: 1.5vw;
  width: auto;
  margin-top: 10%;
}

.nav-btn {
  background-color: transparent;
  color: #292929;
  border: 1px solid transparent;
  border-radius: 15px;
  font-size: 1.1vw;
  cursor: pointer;
  text-align: left;
  width: 100%;
  padding: 3%;
  padding-left: 15%;
}

.nav-btn:hover {
  color: #656565;
  border: 1px solid #656565;
}

.nav-btn.active {
  background-color: #dcdcdc;
  border: 1px solid #656565;
  border-style: outset;
  color: #656565;
}

.line {
  height: 1px;
  width: 85%;
  background-color: #7c7c7c;
}

.settings-icon {
  position: fixed;
  bottom: 5vh;
  left: 5vw;
  width: 4%;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}
