<div class="sidebar-container">
  <table class="nav-table">
    <tr>
      <td><img src="icons/pc.png" class="icon" /></td>
      <td><button class="nav-btn">Equipos</button></td>
    </tr>
    <tr>
      <td><img src="icons/usb.png" class="icon" /></td>
      <td><button class="nav-btn">Consumibles</button></td>
    </tr>
    <tr>
      <td><img src="icons/list.png" class="icon" /></td>
      <td><button class="nav-btn">Formatos</button></td>
    </tr>
    <tr><td colspan="2"><div class="line"></div></td></tr>
    <tr>
      <td><img src="icons/floor.png" class="icon" /></td>
      <td><button class="nav-btn">Pisos</button></td>
    </tr>
    <tr>
      <td><img src="icons/area.png" class="icon" /></td>
      <td><button class="nav-btn">Áreas</button></td>
    </tr>
    <tr>
      <td><img src="icons/department.png" class="icon" /></td>
      <td><button class="nav-btn">Departamentos</button></td>
    </tr>
    <tr><td colspan="2"><div class="line"></div></td></tr>
    <tr>
      <td><img src="icons/user.png" class="icon" /></td>
      <td><button class="nav-btn">Usuarios</button></td>
    </tr>
    <tr>
      <td><img src="icons/hist.png" class="icon" /></td>
      <td><button class="nav-btn">Historial de movimientos</button></td>
    </tr>
  </table>
  <div class="logout-container">
    <img src="icons/settings.png" class="settings-icon" />
</div>
