.sidebar-container {
  position: fixed;
  top: 8vh; /* <- lo mismo que la altura del header */
  left: 0;
  width: 20vh;
  height: calc(100vh - 8vh); /* resta el espacio del header */
  background-color: #66b3ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  z-index: 999;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav-btn {
  background-color: #002147;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.settings-icon {
  display: flex;
  justify-content: center;
}

.gear {
  font-size: 28px;
  cursor: pointer;
}
