.sidebar-container {
  position: fixed;
  top: 8vh; /* <- lo mismo que la altura del header */
  left: 0;
  width: 15%;
  min-height: calc(100vh - 8vh); /* resta el espacio del header */
  background-color: #043f7a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-btn {
  background-color: #dee6ee;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  min-height: 7vh;
  width: 90%;
  margin-top: 12%;
}

.settings-icon {
  display: flex;
  justify-content: center;
}

.gear {
  font-size: 28px;
  cursor: pointer;
}
