.sidebar-container {
  position: fixed;
  left: 0;
  width: 10%;
  height: 100%; /* resta el espacio del header */
  background-color: #c0def0;
  display: flex;
  flex-direction: column;
  z-index: 999;
  align-items: center;
}

.logo {
  flex-direction: column;
  margin-top: 10%;
  height: 5%;
  width: 90%;
}

.logo-img {
  width: 90%;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 100%;
}

.nav-btn {
  background-color: #dee6ee;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  height: 7%;
  width: 80%;
  margin-bottom: 7%;
}

.settings-icon {
  display: flex;
  justify-content: center;
}

.gear {
  font-size: 5vh;
  cursor: pointer;
}
