<div class="sidebar-container">
  <table class="nav-table">
    <tr>
      <td><img src="icons/pc.png" class="icon" /></td>
      <td><button class="nav-btn" routerLink="/building" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Equipos</button></td>
    </tr>
    <tr>
      <td><img src="icons/usb.png" class="icon" /></td>
      <td><button class="nav-btn"  routerLink="/building" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Consumibles</button></td>
    </tr>
    <tr>
      <td><img src="icons/list.png" class="icon" /></td>
      <td><button class="nav-btn"  routerLink="/building" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Formatos</button></td>
    </tr>
    <tr><td colspan="2"><div class="line"></div></td></tr>
    <tr>
      <td><img src="icons/floor.png" class="icon" /></td>
      <td><button class="nav-btn"  routerLink="/building" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Pisos</button></td>
    </tr>
    <tr>
      <td><img src="icons/area.png" class="icon" /></td>
      <td><button class="nav-btn"  routerLink="/building" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Áreas</button></td>
    </tr>
    <tr>
      <td><img src="icons/department.png" class="icon" /></td>
      <td><button class="nav-btn"  routerLink="/building" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Departamentos</button></td>
    </tr>
    <tr><td colspan="2"><div class="line"></div></td></tr>
    <tr>
      <td><img src="icons/user.png" class="icon" /></td>
      <td><button class="nav-btn"  routerLink="/usuarios" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Usuarios</button></td>
    </tr>
    <tr>
      <td><img src="icons/hist.png" class="icon" /></td>
      <td><button class="nav-btn"  routerLink="/building" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Historial de movimientos</button></td>
    </tr>
  </table>
  <div class="logout-container">
    <img src="icons/settings.png" class="settings-icon" />
</div>
