.app-body {
  display: flex;
  position: absolute;
  top: 50px; /* altura del header */
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease;
}

/* El main ocupa siempre todo el espacio restante */
.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f9f9f9;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

/* Si el sidebar está oculto, expandimos el contenido */
.main.expanded {
  margin-left: 0;
}

/* Títulos */
.title-section {
  font-weight: bold;
  font-size: 2vw;
  color: #292929;
  margin-bottom: 10px;
}

.description-section {
  font-size: 1vw;
  color: #292929;
  margin-bottom: 20px;
}
