.app-body {
  position: relative;
  display: flex;
  flex-direction: row;
  top: 50px; /* altura del header */
  width: 100%;
  height: calc(100vh - 50px); /* para no tapar el header */
  transition: all 0.3s ease;
}

.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f9f9f9;
  box-sizing: border-box;
  transition: margin-left 0.3s ease;
}

/* Aquí controlamos el margen dependiendo de si el sidebar está o no visible */
.main.expanded {
  margin-left: 0;
}

.main.collapsed {
  margin-left: 250px; /* el ancho exacto de tu sidebar */
}

.title-section {
  margin-left: 2vw;
  font-weight: bold;
  font-size: 200%;
  color: #172954;
  margin-bottom: 1vh;
}

.description-section {
  margin-left: 2vw;
  font-size: 100%;
  color: #172954;
  margin-bottom: 1vh;
}
