<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Equipo</th>
        <th>Tipo</th>
        <th>Piso</th>
        <th>Area</th>
        <th>Departamentos</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Equipo 1</td>
        <td>Dell</td>
        <td>Planta baja</td>
        <td>Admision</td>
        <td>Urgencias</td>
        <td>
            <div class="btn-group">
              <button class="editar">Editar</button>
              <button class="eliminar">Eliminar</button>
            </div>
        </td>
      </tr>
      <tr>
        <td>Equipo 1</td>
        <td>Dell</td>
        <td>Planta baja</td>
        <td>Admision</td>
        <td>Urgencias</td>
        <td>
            <div class="btn-group">
              <button class="editar">Editar</button>
              <button class="eliminar">Eliminar</button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
