<header class="header-container">
    <div class="logo">
        <img src="img/logo.png" class="logo-img" alt="error"/>
    </div>
  
    <div class="search-section">
      <img src="icons/serch.png" alt="Buscar"  class="icon-serch"/>
      <input type="text" placeholder="Buscar" class="serch-text"/>
      <img src="icons/menu.png" alt="Menú"  class="icon-menu" />
    </div>

  
    <div class="title-section">
      <span class="view-title">Nombre Vista</span>
    </div>
  
    <button class="filter-button">Filtros</button>
  </header>
  