<header class="header-container">
  
  <div class="logo">
    <a [routerLink]="'/homepage'" class="logo-img">
      <img src="img/logo.png" class="logo-img" alt="error"/>
    </a>
  </div>
  <div class="search-section">
    <img src="icons/serch.png" alt="Buscar"  class="icon-serch"/>
    <input type="text" placeholder="Buscar" class="serch-text"/>
    <img src="icons/menu.png" alt="Menú"  class="icon-menu" />
  </div>
  
  <div class="title-section">
   
   <span class="view-title">{{currentTitle}}</span>
  </div>
  
</header>